<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reseter.css">
    <link rel="stylesheet" href="bosch.css">
    <title>Иероним Босх</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <header> 
        <h1 class="header-text">
            ТВОРЧЕСТВО ИЕРОНИМА БОСХА
        </h1>
        <div class="navigation">
            <div class="nav-item">Загадочный Босх</div>
            <div class="nav-item">Особенности</div>
            <div class="nav-item">О Босхе</div>
            <div class="nav-item">Картины</div>
            <div class="nav-item">Музеи</div>
        </div>
    </header>
    <img src="../images/sova.png" alt="" class="sova" >

    <h2 class="block-name">
        ЗАГАДОЧНЫЙ БОСХ
    </h2>

    <div class="cont-1">
        <div class="questions">
            <div class="question">
                Кто такой Иероним Босх?
            </div>
            <div class="question">
                Где вырос Иероним Босх?
            </div>
        </div>
        <img src="../images/bosch.png" class="bosch-img1">
    </div>

</body>
</html>